# Keil 编译产物
*.OBJ
*.LST
*.M51
*.lnp
*.plg

# Keil 用户配置文件
*.bak
*.uvopt
*.uvopt.bak
*uvopt.bak
*.opt.bak
*.Uv2.bak
*_Uv2.Bak

# EIDE 配置文件
.eide/
.eide.usr.ctx.json

# IDE 和编辑器配置
.vscode/
.idea/
*.code-workspace

# 临时和备份文件
*_Bak
*_Opt.Bak
*_Uv2.Bak
*.PWI
*.DBK

# build 目录，但保留特定文件
build/*
!build/Target 1/
build/Target 1/*
!build/Target 1/yyh.hex